In [1]:
import pandas as pd
import Analysis_hw3
df = pd.read_csv('hw3.csv', header=0)
df = df.drop(["Unnamed: 0"],axis=1)

/usr/local/lib/python3.5/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [ ]:
tf_columns = ['school_charter', 'school_magnet', 'school_year_round', 'school_nlns', 'school_kipp',
              'school_charter_ready_promise', 'teacher_teach_for_america', 'teacher_ny_teaching_fellow',
              'eligible_double_your_impact_match', 'eligible_almost_home_match', 'date_posted', 'is_exciting',
              'at_least_1_teacher_referred_donor', 'fully_funded', 'at_least_1_green_donation', 'great_chat',
              'three_or_more_non_teacher_referred_donors', 'one_non_teacher_referred_donor_giving_100_plus',
              'donation_from_thoughtful_donor']
num_col =[12,13,14,15,16,17,19,20,32,33,35,36,37,38,39,40,41,42]

In [ ]:
for i in range(df.shape[0]):
    for j in num_col:
        x = df.iat[i,j]
        df.iat[i,j] = Analysis_hw3.make_labels(x)

In [ ]:
df.fulfillment_labor_materials = pd.get_dummies(df.fulfillment_labor_materials, drop_first=True)

primary_area = pd.get_dummies(df.primary_focus_area, drop_first=True)

secondary_area = pd.get_dummies(df.secondary_focus_area, drop_first=True)

metro = pd.get_dummies(df.school_metro, drop_first=True)

prefix = pd.get_dummies(df.teacher_prefix, drop_first=True)

resource = pd.get_dummies(df.resource_type, drop_first=True)

In [ ]:
for i in range(df.shape[0]):
    w = df.iat[i,9]
    df.iat[i,10] = Analysis_hw3.make_labels2(w)
    z = df.iat[i,18]
    df.iat[i,11] = Analysis_hw3.make_labels3(z)

In [ ]:
outcome = df.iloc[:, 37]
col_num = [0,12,13,14,15,16,17,19,20,26,27,28,29,30,32,33,34,35,
           36,37,38,39,40,41,42,43,44,45]
df0 = df.iloc[:, col_num]

In [ ]:
df = df.drop(['teacher_acctid', 'schoolid','school_ncesid', 'school_latitude',
              'school_longitude', 'school_city', 'school_state','school_zip',
              'school_district', 'school_county','primary_focus_subject','secondary_focus_subject',
              'primary_focus_area', 'secondary_focus_area', 'school_metro', 'teacher_prefix'] ,axis=1)

In [ ]:
df = pd.concat([outcome, df0, primary_area, secondary_area, metro, prefix,resource], axis=1

In [ ]:
df.fully_funded.value_counts()

0    247698
1    105453
Name: fully_funded, dtype: int64

In [ ]:
df = df.dtopna()

In [15]:
df.iloc[:, :20].describe()

,fully_funded,school_charter,school_magnet,school_year_round,school_nlns,school_kipp,school_charter_ready_promise,teacher_teach_for_america,teacher_ny_teaching_fellow,poverty_level,grade_level,fulfillment_labor_materials,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,eligible_almost_home_match,is_exciting
count,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000
mean,0.180958,0.902703,0.913806,0.951584,0.987566,0.992890,0.993662,0.947348,0.989362,2.342654,1.062188,0.447355,512.235892,602.630485,93.985038,0.663455,0.952231,0.893517
std,0.384984,0.296363,0.280651,0.214644,0.110814,0.084021,0.079362,0.223338,0.102592,0.835845,1.046584,0.497222,797.214742,937.899689,157.093580,0.472528,0.213278,0.308456
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,37.030000,43.560000,1.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,0.000000,0.000000,278.900000,328.120000,23.000000,0.000000,1.000000,1.000000
50%,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,1.000000,0.000000,417.065000,490.665000,31.000000,1.000000,1.000000,1.000000
75%,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,2.000000,1.000000,587.180000,690.800000,100.000000,1.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,3.000000,1.000000,139725.410000,164382.840000,12143.000000,1.000000,1.000000,1.000000

In [16]:
df.iloc[:, 20:40].describe()

,at_least_1_teacher_referred_donor,at_least_1_green_donation,great_chat,three_or_more_non_teacher_referred_donors,one_non_teacher_referred_donor_giving_100_plus,donation_from_thoughtful_donor,great_messages_proportion,teacher_referred_count,non_teacher_referred_count,Health & Sports,History & Civics,Literacy & Language,Math & Science,Music & The Arts,Special Needs,Health & Sports 2,History & Civics 2,Literacy & Language 2,Math & Science 2,Music & The Arts 2
count,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000
mean,0.630937,0.241016,0.595619,0.432154,0.318348,0.980334,51.764763,1.253464,4.833984,0.027548,0.040629,0.453093,0.252082,0.093554,0.067007,0.024350,0.053555,0.239123,0.169555,0.048474
std,0.482552,0.427701,0.490773,0.495376,0.465836,0.138849,34.686389,2.706600,6.146137,0.163673,0.197429,0.497796,0.434209,0.291207,0.250035,0.154132,0.225138,0.426548,0.375242,0.214765
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,25.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,50.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,80.000000,2.000000,6.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,100.000000,151.000000,304.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [17]:
df.iloc[:, 40:].describe()

,Special Needs 2,suburban,urban,Mr.,Mrs.,Ms.,Other,Supplies,Technology,Trips,Visitors
count,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000
mean,0.042839,0.255459,0.514527,0.128730,0.477645,0.393594,0.112212,0.334739,0.336885,0.005520,0.001028
std,0.202495,0.436120,0.499790,0.334902,0.499501,0.488547,0.315627,0.471900,0.472646,0.074089,0.032042
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [14]:
df.describe()

,fully_funded,school_charter,school_magnet,school_year_round,school_nlns,school_kipp,school_charter_ready_promise,teacher_teach_for_america,teacher_ny_teaching_fellow,poverty_level,...,suburban,urban,Mr.,Mrs.,Ms.,Other,Supplies,Technology,Trips,Visitors
count,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,...,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000,296760.000000
mean,0.180958,0.902703,0.913806,0.951584,0.987566,0.992890,0.993662,0.947348,0.989362,2.342654,...,0.255459,0.514527,0.128730,0.477645,0.393594,0.112212,0.334739,0.336885,0.005520,0.001028
std,0.384984,0.296363,0.280651,0.214644,0.110814,0.084021,0.079362,0.223338,0.102592,0.835845,...,0.436120,0.499790,0.334902,0.499501,0.488547,0.315627,0.471900,0.472646,0.074089,0.032042
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,...,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [2]:
cols =['total_price_excluding_optional_support',
       'total_price_including_optional_support',
       'students_reached',
       'great_messages_proportion',
       'teacher_referred_count',
       'non_teacher_referred_count',
      ]

In [3]:
normal = Analysis_hw3.standardize(df,cols)

In [4]:
normal = normal.rename(columns={0:'total_price_excluding_optional_support',
                       1:'total_price_including_optional_support',
                       2:'students_reached',
                       3:'great_messages_proportion',
                       4:'teacher_referred_count',
                       5:'non_teacher_referred_count'})

In [5]:
df=df.drop(cols, axis=1)

In [6]:
df = pd.concat([df, normal], axis=1)

In [7]:
df.to_csv('data.csv')

In [8]:
df = df.drop(['projectid', 'date_posted'],axis=1)
X = df.iloc[:, 1:]

In [9]:
Y = df.iloc[:, 0]

In [10]:
from sklearn.cross_validation import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.33,random_state=0)

In [10]:
rf = Analysis_hw3.reduce_dimension([1,2,3,4,5], x_train)

After Reducing to # of 1,
                 sum of explained variance ratio is 0.02
After Reducing to # of 2,
                 sum of explained variance ratio is 0.19
After Reducing to # of 3,
                 sum of explained variance ratio is 0.29
After Reducing to # of 4,
                 sum of explained variance ratio is 0.39
After Reducing to # of 5,
                 sum of explained variance ratio is 0.48

In [11]:
rf = Analysis_hw3.reduce_dimension([6,7,8,9,10], x_train)

After Reducing to # of 6,
                 sum of explained variance ratio is 0.56
After Reducing to # of 7,
                 sum of explained variance ratio is 0.63
After Reducing to # of 8,
                 sum of explained variance ratio is 0.67
After Reducing to # of 9,
                 sum of explained variance ratio is 0.71
After Reducing to # of 10,
                 sum of explained variance ratio is 0.74

In [12]:
rf = Analysis_hw3.reduce_dimension([11,12,13,14,15], x_train)

After Reducing to # of 11,
                 sum of explained variance ratio is 0.76
After Reducing to # of 12,
                 sum of explained variance ratio is 0.78
After Reducing to # of 13,
                 sum of explained variance ratio is 0.8
After Reducing to # of 14,
                 sum of explained variance ratio is 0.82
After Reducing to # of 15,
                 sum of explained variance ratio is 0.84

In [13]:
Analysis_hw3.reduce_dimension([16,17,18,19,20], x_train)

After Reducing to # of 16,
                 sum of explained variance ratio is 0.85
After Reducing to # of 17,
                 sum of explained variance ratio is 0.87
After Reducing to # of 18,
                 sum of explained variance ratio is 0.88
After Reducing to # of 19,
                 sum of explained variance ratio is 0.89
After Reducing to # of 20,
                 sum of explained variance ratio is 0.9

[array([[ 3.69963366, -0.48569086, -0.73155174, ..., -1.00056253,
          0.73091704, -0.17635932],
        [ 3.7335309 , -0.2984662 , -0.95083525, ..., -0.48500913,
          0.78572862, -0.56550767],
        [ 3.80679672, -0.34645162,  1.16718117, ..., -0.17156844,
         -0.05774573, -0.02683022],
        ...,
        [ 4.8827742 , -0.9323508 ,  0.210874  , ...,  0.18948591,
         -0.12360815, -0.14529374],
        [ 4.92134287, -0.00747121, -0.64348097, ...,  0.40538079,
         -0.61298812, -0.43975495],
        [ 4.50725107,  0.64750979, -0.3524122 , ...,  0.74431863,
         -0.07669443, -0.58802096]]),
 array([[ 3.69963366, -0.48569088, -0.73155193, ...,  0.73142742,
         -0.1800354 ,  0.14889041],
        [ 3.7335309 , -0.29846619, -0.95083518, ...,  0.78627059,
         -0.56423117,  0.02653486],
        [ 3.80679672, -0.34645159,  1.16718136, ..., -0.05715791,
         -0.02381714, -0.59617653],
        ...,
        [ 4.8827742 , -0.93235079,  0.21087406, ..., -0.12288503,
         -0.14451959,  1.025333  ],
        [ 4.92134287, -0.00747121, -0.64348088, ..., -0.61477672,
         -0.44001394,  0.32911212],
        [ 4.50725107,  0.64750979, -0.35241223, ..., -0.07730193,
         -0.58871184,  0.15618057]]),
 array([[ 3.69963366, -0.48569088, -0.73155207, ..., -0.17999573,
          0.14757465,  0.4928366 ],
        [ 3.7335309 , -0.29846619, -0.9508352 , ..., -0.5640707 ,
          0.02647104,  0.14017853],
        [ 3.80679672, -0.3464516 ,  1.16718139, ..., -0.02401919,
         -0.59705351, -0.0461549 ],
        ...,
        [ 4.8827742 , -0.93235079,  0.21087403, ..., -0.14543273,
          1.02473425,  0.03383137],
        [ 4.92134287, -0.00747121, -0.64348082, ..., -0.43951492,
          0.32923183,  0.62805612],
        [ 4.50725107,  0.64750979, -0.35241237, ..., -0.58970958,
          0.15568991, -0.53104834]]),
 array([[ 3.69963366, -0.48569088, -0.73155203, ...,  0.14693943,
          0.49463358, -0.28306605],
        [ 3.7335309 , -0.29846619, -0.95083517, ...,  0.02650413,
          0.14033891, -0.13297814],
        [ 3.80679672, -0.3464516 ,  1.16718137, ..., -0.59671797,
         -0.04672633,  0.14152896],
        ...,
        [ 4.8827742 , -0.93235079,  0.21087408, ...,  1.02541776,
          0.0332077 ,  0.21763096],
        [ 4.92134287, -0.00747121, -0.64348092, ...,  0.32898879,
          0.62801135,  0.17109558],
        [ 4.50725107,  0.64750979, -0.35241225, ...,  0.15624703,
         -0.53129613, -0.27106218]]),
 array([[ 3.69963366, -0.48569089, -0.73155198, ...,  0.49453511,
         -0.28233158,  0.08624226],
        [ 3.7335309 , -0.29846619, -0.95083517, ...,  0.14026267,
         -0.13260069,  0.3412988 ],
        [ 3.80679672, -0.34645159,  1.16718139, ..., -0.04657993,
          0.14049801,  0.0353603 ],
        ...,
        [ 4.8827742 , -0.93235079,  0.21087407, ...,  0.03369164,
          0.2168374 ,  0.07076878],
        [ 4.92134287, -0.00747121, -0.64348089, ...,  0.62794181,
          0.17049959, -0.11960093],
        [ 4.50725107,  0.64750979, -0.35241221, ..., -0.5306948 ,
         -0.27443686,  0.68719801]])]

In [ ]:
Analysis_hw3.knn(x_train, y_train, n_neighbors=10)

Baseline: <bound method Series.mean of 244228    0
239469    1
287790    0
198847    0
69409     0
13341     0
132968    1
200685    0
294823    0
143419    1
90095     0
93597     1
156218    0
16633     0
78135     0
50413     0
61510     0
232907    0
156886    0
249600    1
33879     1
87311     0
239643    0
95846     0
187680    0
259458    0
250654    1
249864    0
226144    0
64663     0
         ..
134632    0
151078    0
71557     0
190372    0
273867    0
227838    0
125603    0
84665     0
183561    0
122144    0
221607    0
199827    0
49811     0
230131    0
31921     0
73135     0
7877      0
82457     0
255653    0
220760    0
150055    0
17089     1
80186     0
170584    0
212038    0
211543    0
86293     0
122579    0
152315    0
117952    0
Name: fully_funded, Length: 198829, dtype: int64>